@import "variables";

%pop {
  background: $accent-color;
  text-align: center;
  color: white;
  font-size: 12px;
  height: 0px;
  width: 350px;
  font-weight: 300;
  position: absolute;
  overflow: hidden;
  @include transition-duration(0.5s);
}
