/*Colors*/
$background-color: rgba(255, 255, 255, 1);
$text-color: rgba(85, 85, 85, 1);
$accent-color: rgba(169, 149, 191, 1);
$accent-faded: rgba(169, 149, 191, 0.5);

/*Fonts*/
$body-font: 'Assistant', sans-serif;
$header-font: 'Playfair Display', serif;
