{% extends "base.html" %}
{% block content %}

  <table class="container" cellspacing="20"><tr>
    <td valign="top">
      <img src="{{ url_for('static',filename='images/101claras_2.jpg')  }}" width="640px" style="margin-bottom: 10px; border: 1px solid #ddd;"> 
      <img src="{{ url_for('static',filename='images/101claras_4.jpg')  }}" width="640px" style="margin-bottom: 10px; border: 1px solid #ddd;">
      <img src="{{ url_for('static',filename='images/101claras_5.jpg')  }}" width="640px" style="margin-bottom: 10px; border: 1px solid #ddd;">
      <p />
    </td>
    <td valign="top">
      <b><i>101 Claras to See</i> Charity Project</b>
      <p />
      An international project spanning 16 countries and including over 44 participants, the <i>101 Claras to See</i> charity anthology is the brain child of Caitlin Smith and Defne Sastim, created in response to actress Jenna Coleman completing her run as Clara Oswald on the British science fiction television phenomenon <i>Doctor Who.</i>  Coleman is an ambassador for the British charity <a href="https://www.onetoonechildrensfund.org/" target="_blank">One-to-One Children's Fund,</a> so to celebrate how her character touched so many fans, Smith and Sastim curated the <i>101 Claras to See</i> anthology, a book with art, stories, and analytical pieces about Clara Oswald, with hundreds of dollars in proceeds benefiting the One-to-One Children's Fund.
      <p />
      In addition to writing a piece for the anthology, I was also the lead (and only) designer tasked with putting the book together.  The anthology was sold as both an eBook PDF and a hard copy.  I used InDesign to put everything together, and in addition to doing all of the layout work, I helped make the icons for the headers, and picked all of the colors and fonts.  Essentially, I started with text files and images, and created an anthology fitting the printer's specifications.  The books were mailed out in early December 2016.
    </td>
  </tr> </table>

{% endblock %}
