{% extends "base.html" %}
{% block content %}

  <table width="60%" style="margin: 30px 0 0 20%" cellspacing="20px">
    <tr>
    
      <td valign="top">
        <img width="250px" src="{{ url_for('static', filename='images/portfolio.jpg') }}"/> 
      </td>  

      <td valign="top">
        <h3>Hi, I'm Remy Davison.</h3>
        <p />
        I'm a junior communications design major at Carnegie Mellon University with a particular interest in advertising. While new media and technology are exciting to me, I also have an interest in more traditional forms of communications design, like bookmaking and general print media.
        <p />
        I'm also minoring in creative writing. Once, I even got published in <i>Chicken Soup for the Soul.</i> I'm also interested in comedy and theatre. I believe having passions and interests outside of design benefits me when I am working. For me, design is so distinctly human that you can't separate it totally from the designer, which is why I strive to check my own biases and get many outside perspectives. I value collaboration, honesty, creativity, and kindness.
        <p /> 
        (I'm also known as Ren on some platforms.)
      </td> 
    
    </tr>
  </table>

{% endblock %}

