<!-- The base HTML file for this portfolio website
     to operate as a template for all other pages
     to inherit.

     © Remy Davison, 2016

-->

<html>
  <head>

    <!--This controls the webpage title-->
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Remy Davison's Portfolio</title>
    {% endif %}

    <!--This imports the main CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sass/main.css')  }}">

    <!--This imports JQuery-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.0.0.min.js')  }}"></script>

    <!--This imports the icons-->
    <script src="https://use.fontawesome.com/37df6aa7a8.js"></script>

    <!--This makes the favicon work-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png')  }}">
    
    <!-- This imports the Slick slideshow CSS
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick-theme.css') }}"> -->
  
  </head>

  <body>

    <!--Header-->
    
    <table class="header"><tr>
      <td><h1>
        <a href="/">
          Remy Davison's Portfolio
        </a>
      </h1></td>
      <td>
        <table align="right"><tr>
          <td>
            <a href="mailto:remyedavison@gmail.com">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </a>     
          </td>
          <td>
            <a href="http://design.cmu.edu/people/undergraduate-student/ren-davison#profile-mjin" target="_blank">
              <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            </a>  
          </td>
        </tr></table>
      </td>
    </tr></table>

    <!--Links-->

    <div class="toplinks">
      <a href="/design">design</a>
      <a href="/web">web</a>
      <a href="/photography">photography</a>
      <a href="/about">about</a>
      <a href="{{ url_for('static', filename='images/resume18.pdf')  }}" target="_blank">Resume</a>
    </div>

    {% block content %}{% endblock %}

    <div class="footer">
      This website and all additional original work is protected under copyright law.<br />
      Everything shown here, including this website, is my original work.
    </div>

  </body>
</html>
