{% extends "base.html" %}
{% block content %}

  <table class="container" cellspacing="20"><tr>
    <td valign="top">
      <img src="{{ url_for('static',filename='images/cmoa_1.jpg')  }}" width="638px" style="margin-bottom: 10px; border: 1px solid #ddd;"> 
      <img src="{{ url_for('static',filename='images/cmoa_2.jpg')  }}" width="638px" style="margin-bottom: 10px; border: 1px solid #ddd;">
      <img src="{{ url_for('static',filename='images/cmoa_3.jpg')  }}" width="638px" style="margin-bottom: 10px; border: 1px solid #ddd;">
      <img src="{{ url_for('static',filename='images/cmoa_4.jpg')  }}" width="640px" style="margin-bottom: 10px;"> 
      <img src="{{ url_for('static',filename='images/cmoa_5.jpg')  }}" width="640px" style="margin-bottom: 10px;"> 
      <img src="{{ url_for('static',filename='images/cmoa_6.jpg')  }}" width="640px" style="margin-bottom: 10px;"> 
      <p />
    </td>
    <td valign="top">
      <b>The Carnegie Museum of Art Comment System</b>
      <p />
      Pittsburgh's own <a href="http://cmoa.org/" target="_blank">Carnegie Museum of Art</a> challenged me and rest of my class to redesign an element of their space and experience.  The goal was to think along the lines of a hybrid digital and physical environment and intervene accordingly.  With this in mind, I designed a system where museum patrons can comment on works of their choosing via the CMOA app, as well as interact with other patrons they might not otherwise speak to.
      <p />
      The comment system was inspired by the "take a book, leave a book" stands I saw around Pittsburgh's own Squirrel Hill neighborhood.  In order to scope down my system, I focused on a specific kind of museum patron.  My target audience was people who want to enjoy art museums, but find them daunting and too intellecutally lofty.  I was inspired by my own experience going to art museums with my friends in STEM fields, who enjoy art but know nothing about artistic techniques or art history, and loved when I would talk candidly about the pieces we were currently viewing.  To modify this experience for a digital environment, when a patron comments on a piece via their phone's text messaging system, they get a text in response.  That text is another patron's comment, who previously "left" a note at that particular work.
      <p />
      To the left are selected slides from my concept pitch.  To view the whole presentation, please click <a href="{{ url_for('static',filename='images/cmoa_final.pdf') }}" target="_blank">here.</a>  There are also examples of my working process to the left, and <a href="http://etrackprocessren.tumblr.com/tagged/p1/chrono" target="_blank">here</a> is a link to the full process documentation.
    </td>
  </tr> </table>

{% endblock %}
