{% extends "base.html" %}
{% block content %}

  <h2>
    Design Work
  </h2>

  <div style="width: 45%; margin: 0 0 15px 13%;">
    Though I specialize in communications design, Carnegie Mellon has given me the amazing opportunity to learn skills more based in both environmental and product design. Below is a selection of some of my best work.
  </div>

  <table align="center" cellpadding="5">
    <tr>
      <td class="popup">
        <a href="/101claras">
          <img width="350px" src="{{ url_for('static', filename='images/home_101claras.jpg')  }}">
          <div class="pop">
            101 CLARAS TO SEE<br /> 
            InDesign PDF, Printed Book 
          </a>
        </div>
      </td>
      <td class="popup">
        <a href="/ideate">
          <img width="350px" src="{{ url_for('static', filename='images/home_ideate.jpg')  }}">
          <div class="pop">
            IDEATE MODULAR CLASSROOM<br />
            Video and Presentation Concept Pitch
          </a>
        </div>
      </td>
      <td class="popup">
        <a href="/cmoa">
          <img width="350px" src="{{ url_for('static', filename='images/home_cmoa.jpg')  }}">
          <div class="pop">
            CARNEGIE MUSEUM OF ART<br />
            Hybrid Environment Concept Pitch
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td class="popup">
        <a href="/drueheinz">
          <img width="350px" src="{{ url_for('static', filename='images/featured4_1.jpg')  }}">
          <div class="pop">
            DRUE HEINZ LECTURES HIERARCHY POSTER<br />
            Adobe Illustrator
          </a>
        </div>
      </td>
      <td class="popup">
        <a href="/mosaic">
          <img width="350px" src="{{ url_for('static', filename='images/featured5_1.jpg')  }}">
          <div class="pop">
            MOSAIC CONFERENCE POSTER<br />
            Adobe Illustrator
          </a>
        </div>
      </td>
      <td class="popup">
        <a href="/turtle">
          <img width="350px" src="{{ url_for('static', filename='images/featured6_1.jpg')  }}">
          <div class="pop">
            ENDANGERED TURTLE POSTER<br />
            Adobe Illustrator
          </a>
        </div>
      </td>
    </tr>
  </table>

{% endblock %}
