{% extends "base.html" %}
{% block content %}

  <h2>
    Design Work
  </h2>

  <div style="width: 45%; margin: 0 0 15px 13%;">
    Though I specialize in communications design, Carnegie Mellon has given me the amazing opportunity to learn additional skills outside of what's typically considered graphic design. Below is a selection of some of my best work.
  </div>

  <table align="center" cellpadding="5">
    <tr>
      <td class="popup">
        <a href="/hayakawa">
          <img width="348px" style="border: 1px solid #ddd" src="{{ url_for('static', filename='images/home_hayakawa.jpg')  }}">
          <div class="pop">
            YOSHIO HAYAKAWA BOOK SPREADS<br /> 
            InDesign PDF, Printed Book 
          </a>
        </div>
      </td>
      <td class="popup">
        <a href="/ideate">
          <img width="350px" src="{{ url_for('static', filename='images/home_ideate.jpg')  }}">
          <div class="pop">
            IDEATE MODULAR CLASSROOM<br />
            Video and Presentation Concept Pitch
          </a>
        </div>
      </td>
      <td class="popup">
        <a href="/cmoa">
          <img width="350px" src="{{ url_for('static', filename='images/home_cmoa.jpg')  }}">
          <div class="pop">
            CARNEGIE MUSEUM OF ART<br />
            Hybrid Environment Concept Pitch
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td class="popup">
        <a href="/helvetica">
          <img width="350px" src="{{ url_for('static', filename='images/home_helvetica.jpg')  }}">
          <div class="pop">
            HELVETICA NEUE VIDEO AND GRID<br />
            AfterEffects Video and Adobe Illustrator
          </a>
        </div>
      </td>
      <td class="popup">
        <a href="/drueheinz">
          <img width="350px" src="{{ url_for('static', filename='images/home_drue.jpg')  }}">
          <div class="pop">
            DRUE HEINZ LECTURES HIERARCHY POSTER<br />
            Adobe Illustrator
          </a>
        </div>
      </td>
      <td class="popup">
        <a href="/mbmbam">
          <img width="348px" style="border: 1px solid #ddd" src="{{ url_for('static', filename='images/home_mbmbam.jpg')  }}">
          <div class="pop">
            MBMBAM Kinetic Typography<br /> 
            AfterEffects Video
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td class="popup">
        <a href="/rzd">
          <img width="350px" src="{{ url_for('static', filename='images/home_rzd.jpg')  }}">
          <div class="pop">
            MONOGRAM BOOKMARK, STICKER, AND COASTER SET<br />
            Adobe Illustrator, Printed Mockups
          </a>
        </div>
      </td>
      <td class="popup">
        <a href="/101claras">
          <img width="350px" src="{{ url_for('static', filename='images/home_101claras.jpg')  }}">
          <div class="pop">
            101 CLARAS TO SEE<br />
            InDesign PDF, Printed Book
          </a>
        </div>
      </td>
      <td class="popup" style="display:none">
        <a href="/cardboard">
          <img width="350px" src="{{ url_for('static', filename='images/home_cardboard.jpg')  }}">
          <div class="pop">
            KOALA PEOPLE MOVER<br /> 
            Corrugated Cardboard
          </a>
        </div>
      </td>
    </tr>
  </table>
    
  </table>

{% endblock %}
