{% extends "base.html" %}
{% block content %}

  <table class="container" cellspacing="20"><tr>
    <td valign="top">
      <img src="{{ url_for('static',filename='images/drue_1.jpg')  }}" width="640px" style="margin-bottom: 10px;">
      <table width="640px;" cellpadding="5px" style="margin-left: -7px;">
        <tr>
          <td>
            <img src="{{ url_for('static',filename='images/drue_5.jpg')  }}" width="315px;">
          </td>
          <td>
            <img src="{{ url_for('static',filename='images/drue_4.jpg')  }}" width="315px">
          </td>  
        </tr>
        <tr>
          <td>
            <img src="{{ url_for('static',filename='images/drue_3.jpg')  }}" width="315px;">
          </td>
          <td>
            <img src="{{ url_for('static',filename='images/drue_2.jpg')  }}" width="315px">
          </td>  
        </tr>
        
      </table>
      <p />
    </td>
    <td valign="top">
      <b>The Drue Heinz Literature Lectures Poster</b>
      <p />
      To further explore the concept of informational hierarchy in print posters, each student was given a white piece of tabloid paper with black, identically formatted text, and through a series of iterations, tasked with creating a poster advertisement for their assigned event.  My event was The Drue Heinz Lecture Series: a literature lecture series run through the Carnegie Music Hall.  
      <p />  
      The poster is inkjet printed on tabloid paper, and the first image on the left is the final iteration.  Below it are some examples of the process I went through to arrive at that final copy.  If you're interested in the full process PDF, please click <a href="{{ url_for('static', filename='images/drue_process.pdf') }}" target="_blank">here.</a>
    </td>
  </tr> </table>

{% endblock %}
