{% extends "base.html" %}
{% block content %}

  <table class="container" cellspacing="20"><tr>
    <td valign="top">
      <iframe src="https://player.vimeo.com/video/196671754" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <img src="{{ url_for('static',filename='images/helvetica_1.png')  }}" width="640px" style="margin-bottom: 10px; margin-top: 10px;">
      <img src="{{ url_for('static',filename='images/helvetica_2.png')  }}" width="638px" style="margin-bottom: 10px; border: 1px solid #ddd;">
      <img src="{{ url_for('static',filename='images/helvetica_3.png')  }}" width="638px" style="margin-bottom: 10px; border: 1px solid #ddd;">
      <p />
    </td>
    <td valign="top">
      <b>Helvetica Neue Analysis Video and Grid</b>
      <p />
      For this two part project, each member of the class was assigned a specific typeface and weight.  Mine was Helvetica Neue Thin.  We then had to make an informational and enjoyable video about our typeface (and in my case, also its predecessor: Helvetica), as well as analyze the letters themselvse through a grid.
      <p /> 
     Both my video and my grid went through several iterations.  In order to plan my video, I scripted all of the information I wanted to get across in my one minute limit ahead of time.  Then, it was a matter of self and peer critique to bring the video to the point it is now.  To the left, you can also see some of the many iterations my typeface grid went through.  The black version is the final iteration. 
    </td>
  </tr> </table>

{% endblock %}
