{% extends "base.html" %}
{% block content %}

  <h2>
    Newest Work
  </h2>

  <table align="center" cellpadding="5">
    <tr>
      <td class="popup">
        <img src="https://placehold.it/350x250">
        <div class="poptop">
          TITLE OF PROJECT<br />
          Brief materials description
        </div>
      </td>
      <td class="popup">
        <img src="https://placehold.it/350x250">
        <div class="poptop">
          TITLE OF PROJECT<br />
          Brief materials description
        </div>
      </td>
      <td class="popup">
        <img src="https://placehold.it/350x250">
        <div class="poptop">
          TITLE OF PROJECT<br />
          Brief materials description
        </div>
      </td>
    </tr>
    <tr>
      <td class="popup">
        <img src="https://placehold.it/350x250">
        <div class="popbottom">
          TITLE OF PROJECT<br />
          Brief materials description
        </div>
      </td>
      <td class="popup">
        <img src="https://placehold.it/350x250">
        <div class="popbottom">
          TITLE OF PROJECT<br />
          Brief materials description
        </div>
      </td>
      <td class="popup">
        <img src="https://placehold.it/350x250">
        <div class="popbottom">
          TITLE OF PROJECT<br />
          Brief materials description
        </div>
      </td>
    </tr>
  </table>

{% endblock %}
