{% extends "base.html" %}
{% block content %}

  <h2>
    Featured Work
  </h2>

  <table align="center" cellpadding="5">
    <tr>
      <td class="popup">
        <a href="/sns">
          <img width="350px" src="{{ url_for('static', filename='images/featured1_4.jpg')  }}">
          <div class="pop">
            SCOTCH'N'SODA THEATRE WEBSITE<br /> 
            HTML, SASS/CSS, and jQuery
          </a>
        </div>
      </td>
      <td class="popup">
        <a href="/101claras">
          <img width="350px" src="{{ url_for('static', filename='images/featured2_2.jpg')  }}">
          <div class="pop">
            101 CLARAS TO SEE<br />
            InDesign PDF, Printed Book
          </a>
        </div>
      </td>
      <td class="popup">
        <a href="/ideate">
          <img width="350px" src="{{ url_for('static', filename='images/featured3_1.jpg')  }}">
          <div class="pop">
            IDEATE MODULAR CLASSROOM<br />
            Video and Presentation Concept Pitch
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td class="popup">
        <a href="/drueheinz">
          <img width="350px" src="{{ url_for('static', filename='images/featured4_1.jpg')  }}">
          <div class="pop">
            DRUE HEINZ LECTURES HIERARCHY POSTER<br />
            Adobe Illustrator
          </a>
        </div>
      </td>
      <td class="popup">
        <a href="/compliment">
          <img width="350px" src="{{ url_for('static', filename='images/featured5_3.jpg')  }}">
          <div class="pop">
            COMPLIMENTARY COLOR STUDY<br />
            Photography, Adobe Photoshop
          </a>
        </div>
      </td>
      <td class="popup">
        <a href="/rzd">
          <img width="350px" src="{{ url_for('static', filename='images/featured6_4.jpg')  }}">
          <div class="pop">
            MONOGRAM BOOKMARK, STICKER, AND COASTER SET<br />
            Adobe Illustrator, Printed Mockups
          </a>
        </div>
      </td>
    </tr>
  </table>

{% endblock %}
