{% extends "base.html" %}
{% block content %}

  <table class="container" cellspacing="20"><tr>
    <td valign="top">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/YG5GwwA7B3c?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      <p />
    </td>
    <td valign="top">
      <b>"My Brother, My Brother, and Me" Kinetic Typography</b>
      <p />
      <b>Warning: this video contains profanity.</b>
      <p />
      "My Brother, My Brother, and Me" is a weekly podcast hosted by the three McElroy brothers. As a personal project, I decided to take about 90 seconds of audio from one of their recent episodes, and apply some kinetic typography to it using AfterEffects. My goal was to use typography and motion to amplify the comedy of the bit, without overdoing or overshadowing anything. I opted for basic colors, a single font, and a basic background color for this reason.
      <p/>
      The movement of the typography was used to not only communicate the tone of voice and way of speaking of each person, but also to provide emphasis. Ideally, someone could mute the video and still understand when pepole stuttered, made a side comment, elongated their speech, etc. Though, I do recommend listening at least once to the audio, since the brothers are very funny.
    </td>
  </tr> </table>

{% endblock %}
