{% extends "base.html" %}
{% block content %}

  <h2>
    Photography
  </h2>

  <div style="width: 45%; margin: 0 0 15px 13%;">
    All of my photography work is digital and edited by me. I enjoy working with photography as both a standalone medium, and as part of larger projects, particularly ones where photography can be used to tell a narrative. For some additional examples of my standalone photography work, please check out my <a href="https://www.instagram.com/renofthestars/" target="_blank">Instagram.</a>
  </div>

  <table align="center" cellpadding="5">
    <tr>
      <td class="popup">
        <a href="/compliment">
          <img width="350px" src="{{ url_for('static', filename='images/home_compliment.jpg')  }}">
          <div class="pop">
            COMPLIMENTARY COLOR STUDY<br /> 
            Photography, Adobe Photoshop
          </a>
        </div>
      </td>
      <td class="popup" style="display:none">
        <a href="/hayakawa-web">
          <img width="350px" src="{{ url_for('static', filename='images/home_hayakawa_web.jpg')  }}">
          <div class="pop">
            HAYAKAWA BOOK: WEB COMPONENT<br />
            HTML and CSS
          </a>
        </div>
      </td>
      <td class="popup" style="display:none">
        <a href="/sns">
          <img width="350px" src="{{ url_for('static', filename='images/home_sns.jpg')  }}">
          <div class="pop">
            SCOTCH'N'SODA THEATRE WEBSITE<br />
            HTML, SASS/CSS, and jQuery
          </a>
        </div>
      </td>
    </tr>
    <tr style="display:none">
      <td class="popup">
        <a href="/pages">
          <img width="350px" src="{{ url_for('static', filename='images/home_pages.jpg')  }}">
          <div class="pop">
            BLOG PAGES AND ADD ONS (COLLECTION)<br />
            HTML, CSS, and jQuery
          </a>
        </div>
      </td>
      <td class="popup">
        <a href="/tuts">
          <img width="348px" style="border: 1px solid #ddd" src="{{ url_for('static', filename='images/home_tuts.jpg')  }}">
          <div class="pop">
            WEB DEVELOPMENT LEARNING MATERIALS (COLLECTION)<br />
            HTML and CSS
          </a>
        </div>
      </td>
      <td style="display: none" class="popup">
        <a href="/turtle">
          <img width="350px" src="{{ url_for('static', filename='images/featured6_1.jpg')  }}">
          <div class="pop">
            ENDANGERED TURTLE POSTER<br />
            Adobe Illustrator
          </a>
        </div>
      </td>
    </tr>
  </table>

{% endblock %}
