{% extends "base.html" %}
{% block content %}

  <h2>
    Photography
  </h2>

  <div style="width: 45%; margin: 0 0 15px 13%;">
    All of my photography work is digital and edited by me. I enjoy working with photography as both a standalone medium, and as part of larger projects, particularly ones where photography can be used to tell a narrative. For some additional examples of my standalone photography work, please check out my <a href="https://www.instagram.com/renofthestars/" target="_blank">Instagram.</a>
  </div>

  <table align="left" cellpadding="5">
    <tr>
      <td class="popup">
        <a href="/compliment">
          <img width="350px" src="{{ url_for('static', filename='images/home_compliment.jpg')  }}">
          <div class="pop">
            COMPLIMENTARY COLOR STUDY<br /> 
            Photography, Adobe Photoshop
          </a>
        </div>
      </td>
    </tr>
  </table>

{% endblock %}
