{% extends "base.html" %}
{% block content %}

  <table class="container" cellspacing="20"><tr>
    <td valign="top">
      <img src="{{ url_for('static',filename='images/rzd_1_1.jpg')  }}" width="640px" style="margin-bottom: 10px;">
      <img src="{{ url_for('static',filename='images/rzd_2_2.jpg')  }}" width="640px" style="margin-bottom: 10px;">
      <img src="{{ url_for('static',filename='images/rzd_3_3.jpg')  }}" width="640px" style="margin-bottom: 10px;">
      <img src="{{ url_for('static',filename='images/rzd_4.png')  }}" width="640px" style="margin-bottom: 10px;">
      <table width="640px;" cellpadding="5px" style="margin-left: -7px;">
        <tr>
          <td>
            <img src="{{ url_for('static',filename='images/rzd_5.png')  }}" width="313px;" style="border: 1px solid #ddd;">
          </td>
          <td>
            <img src="{{ url_for('static',filename='images/rzd_6.png')  }}" width="313px;" style="border: 1px solid #ddd;">
          </td>  
        </tr>
        <tr>
          <td>
            <img src="{{ url_for('static',filename='images/rzd_7.png')  }}" width="313px;" style="border: 1px solid #ddd;">
          </td>
          <td>
            <img src="{{ url_for('static',filename='images/rzd_8.png')  }}" width="313px;" style="border: 1px solid #ddd;">
          </td>  
        </tr>
        <tr>
          <td>
            <img src="{{ url_for('static',filename='images/rzd_9.png')  }}" width="313px;" style="border: 1px solid #ddd;">
          </td>
          <td>
            <img src="{{ url_for('static',filename='images/rzd_10.png')  }}" width="313px;" style="border: 1px solid #ddd;">
          </td>  
        </tr>
        
      </table>
      <p />
    </td>
    <td valign="top">
      <b>Monogram Bookmark, Sticker, and Coaster Set</b>
      <p />
      Another project for a semester-long class on color and communication was the following set of a bookmark, sticker, and coaster.  I first used my initials to create a monogram, focusing on positive and negative space, transparency, and color interaction.  Then, I moved onto focusing on the actual "canvas" of the object (a long vertical strip for the bookmark, a sqaure for the sticker, etc.) and how the background that both the monogram and the object itself were on affected the way the color looked.
      <p /> 
      Mockups for each of these objects were laser color printed and shown in context through photography.  To the left are those context shots, as well as the final set, many in progress versions, and some examples of early monogram designs and palettes. 
    </td>
  </tr> </table>

{% endblock %}
