{% extends "base.html" %}
{% block content %}

  <table class="container" cellspacing="20"><tr>
    <td valign="top">
      <img src="{{ url_for('static',filename='images/sns_1.jpg')  }}" width="640px">
      <p />
      <h3 align="center">
        <a href="http://www.snstheatre.org/" target="_blank">Click for live website</a> / <a href="https://github.com/ScotchLabs/snswebsite" target="_blank">Click for full code</a> 
      </h3>
    </td>
    <td valign="top">
      <b>Scotch'n'Soda Theatre Website</b>
      <p />
      As webmaster for Scotch'n'Soda Theatre's 2016-2017 season, I was tasked with redesigning the organization's old website.  The goal was to create a website written in coding languages most students understood, and make the code clearly written and commented to the point where any future webmaster could update the site with ease.  I achieved this through writing the website in mostly HTML and SASS stylesheets converted to CSS, with a bit of jQuery, commenting the code extensively, and naming my class names in a straightforward manner.
      <p/>
      In collaboration with the 2016-2017 Public Relations Coordinator, we designed the website's layout and color scheme.  The project took me two months, off and on, as I freelanced during my freshman summer.  Throughout the academic year, I then maintained and updated the website with items like auditions and links to ticket purchases.
    </td>
  </tr> </table>

{% endblock %}
