{% extends "base.html" %}
{% block content %}

  <table class="container" cellspacing="20"><tr>
    <td valign="top">
      <img src="https://placehold.it/640x480">
    </td>
    <td valign="top">
      <b>Featured 1 Header</b>
      <p />
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in tortor vestibulum arcu maximus eleifend eget eget ligula. Cras aliquet egestas libero at volutpat. Aliquam orci leo, porta eget fermentum nec, tincidunt non libero. Vestibulum consequat augue sem, id placerat lorem tempor ac. Sed porta, tortor eget tempor blandit, risus est pretium ante, a congue turpis dui a massa. Sed quis elementum lacus. Sed et efficitur erat. Phasellus et tortor vitae libero ornare dictum. Proin tincidunt lorem sed augue efficitur congue. In et auctor leo. Quisque suscipit vulputate egestas. In congue urna ac massa convallis, et fringilla mauris bibendum.
      <p />
      Nulla eleifend vel nulla sodales ultrices. Aliquam consequat porta diam, in gravida libero euismod non. Integer efficitur, tortor non feugiat aliquet, dolor enim blandit massa, hendrerit hendrerit sapien libero sit amet est. Donec pharetra suscipit ullamcorper. Quisque eget malesuada sapien, laoreet commodo nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin elementum mi id justo tincidunt, ac scelerisque lectus tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    </td>
  </tr> </table>

{% endblock %}
