{% extends "base.html" %}
{% block content %}

  <table class="container" cellspacing="20"><tr>
    <td valign="top">
      <img src="{{ url_for('static',filename='images/talktome_1.jpg')  }}" width="640px" style="margin-bottom: 10px;"> 
      <img src="{{ url_for('static',filename='images/talktome_context.jpg')  }}" width="640px" style="margin-bottom: 10px;"> 
      <img src="{{ url_for('static',filename='images/talktome_2.jpg')  }}" width="638px" style="margin-bottom: 10px; border: 1px solid #ddd;">
      <img src="{{ url_for('static',filename='images/talktome_3.jpg')  }}" width="638px" style="margin-bottom: 10px; border: 1px solid #ddd;">
      <p />
    </td>
    <td valign="top">
      <b>Talk to me: a four act shot at comedy</b>
      <p />
      This project is a small (4"x7"), 91-page book designed, printed, and hand-bound over the course of six weeks. The project was to take a transcript of <a href="https://www.thisamericanlife.org/radio-archives/episode/81/guns" target="_blank">this episode of NPR's "This American Life"</a> and turn it into a conversation piece on gun control, in whatever way we wanted. My project focused on people's reluctance to even start conversations about gun control, and used the perspective of comedy to try and ease the discomfort that comes with difficult topics. The book, split into four acts (plus intermission) uses a humorous tone and a variety of comedic and design tactics to ask try and answer the question "how do you start a conversation no one wants to have?" To see additional sample spreads at a higher resolution, click <a href="{{ url_for('static',filename='images/talktome_samples.pdf')  }}" target="_blank">here.</a>
      <p />
      This project was a consolidation of many different skills I've been working on throughout my design education. It relies heavily on grid and typographic systems to give it an accessible structure, experimental typography and additional personal narrative to give it more voice, and elements of color and photography for additional layers of content. For this project, I pulled from my backgrounds in writing, design, improv comedy, public speaking, and debate.
    </td>
  </tr> </table>

{% endblock %}
